<header class="site-header" role="banner">

    <div class="wrapper">
        <div class="custom-wrapper">
            <div class="title-group">
                <div class="header-avatar"><img src="/assets/images/avatar.jpg" alt="Avatar"></div>
                <div><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
                </div>
            </div>
            <div class="newsletter-button">
                <a data-formkit-toggle="d25e8c2ded" href="https://climbingdev.ck.page/d25e8c2ded">
                    Join the Newsletter
                </a>
            </div>
        </div>
    </div>

</header>
