.newsletter-button, .newsletter-button:visited, .newsletter-button:hover {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  background: #3391dc;
  padding: 12px 25px;
  border-radius: 25px;
  min-width: 128px;
}

.footer {
  color: #828282;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 400px) {
    flex-direction: column;

    .first-column {
      margin-bottom: 20px;
    }
  }
}